.navbar {
    background-color: $brand-color;
    margin-bottom: $size6;



    .nav-item {
        font-size: $size2;
        color: $color-font;

        .nav-link {
            display: block;
            padding: $size10 $size10b;
            color: $color-font;
            text-decoration: none;
           
        }
    }
}

