.navbar {
    background-color: $brand-color;
    margin-bottom: $size6;



    .nav-item {
        font-size: $size2;
        color: $color-font;

        .link-dark {
            display: block;
            padding:  $size10 $size10b;
            color: $color-font;
            text-decoration: none;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
        }
        
    }
}

