$brand-color: #54b77d;
$brand-font: 'Cabin Sketch', cursive;
$container-font: 'Cutive Mono', monospace;
$content-font: 'Times New Roman', Times, serif;
$size-font: 50px;
$color-font: #000000;

$size1: 10px;
$size2: 15px;
$size3: 20px;
$size3b: 25px;
$size4: 40px; 
$size4b: 45px; 
$size5: 50px;
$size6: 100px;
$size7: 250px; 
$size7b: 200px;
$size8: 30px;
$size9: 80px; 
$size10: 8px;
$size10b: 16px;
$fraccion: 1fr; 